/* Board Styles */
.board-container {
    display: flex;
    flex-direction: column;
  }
  
  .board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .board {
    display: flex;
    flex-wrap: nowrap; /* Modifier pour éviter les retours à la ligne */
    gap: 10px;
    overflow-x: auto; /* Ajouter une barre de défilement horizontale */
    padding: 10px;
    margin-top: 10px; /* Ajouter un peu d'espace en haut pour séparer de l'en-tête */
  }
  