/* Navbar.css */
.MuiAppBar-root {
  background-color: #fff9db; /* pastel yellow */
}

.navbar {
  background-color: #fff9db; /* pastel yellow */
  color: black;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo img {
  height: 100px; /* Adjust the size as needed */
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.navbar-links a {
  color: #0038ff;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-toolbar {
    flex-direction: column;
  }

  .navbar-links {
    order: 1;
    flex-direction: column;
    gap: 10px;
  }

  .navbar-logo {
    order: 2;
  }

  .navbar-logo img {
    height: 100px; /* Adjust the size for smaller screens */
  }

  .MuiIconButton-root {
    order: 3;
  }
}
.navbar {
  background-color: #fff9db; /* pastel yellow */
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
}

.navbar-logo img {
  height: 80px;
}

.navbar-links a {
  margin: 0 10px;
  color: #000; /* Adjust as necessary */
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.sidebar-button {
  color: #0000ff; /* The same blue color as the 'Home' link */
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo-img {
  height: 80px; /* Increase the height for a larger logo */
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.navbar-links a {
  color: #0038ff;
  text-decoration: none;
  font-weight: bold;
}

.sidebar-button {
  color: #0038ff !important; /* Apply the same blue color */
}

@media (max-width: 768px) {
  .navbar-toolbar {
    flex-direction: column;
  }

  .navbar-links {
    order: 1;
    flex-direction: column;
    gap: 10px;
  }

  .navbar-logo {
    order: 2;
  }

  .navbar-logo-img {
    height: 60px; /* Adjust the size for smaller screens */
  }

  .MuiIconButton-root {
    order: 3;
  }
}
/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #0038ff; /* Vous pouvez changer cette couleur pour qu'elle soit visible sur tous les backgrounds */
}

.navbar-links a:hover {
  text-decoration: underline;
}
