/* Navbar.css */
.MuiAppBar-root {
  background-color: #d5aaff;
}
/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d5aaff;
    color: white;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-links {
      flex-direction: column;
      gap: 10px;
    }
  }
  