/* settings.css */

.settings-container {
    max-width: 1100px; /* Adjusted max-width to accommodate four 250px themes with gaps */
    margin: 50px auto;
    padding: 20px;
}

h3 {
    color: #0000ff; /* Color for the heading */
}

.theme-selection {
    margin-top: 20px;
}

.themes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.theme-option {
    width: 250px; /* Width for each theme */
    height: 250px; /* Height for each theme */
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    background-size: cover;
}

.theme-option:hover {
    border-color: #ccc; /* Hover border color */
}

.avatar-selection {
    margin-top: 20px;
}

.avatar-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.avatar-option {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.avatar-option.selected {
    border-color: #0000ff; /* Highlight color for selected avatar */
}

.avatar-option:hover {
    border-color: #ccc; /* Hover border color */
}

@media (max-width: 1100px) {
    .settings-container {
        padding: 10px;
        max-width: 100%; /* Ensure responsiveness */
    }

    .themes, .avatar-list {
        justify-content: center;
    }

    .theme-option {
        width: calc(50% - 10px); /* Adjust width for smaller screens to fit two themes per row */
    }
}
