body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFD1; /* Fond Principal */
}

.container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Ajouter un fond blanc semi-transparent pour le contenu */
  border-radius: 10px;
}

.navbar {
  background-color: #FFFFD1 !important; /* Couleur de fond de la navbar */
  color: #333333; /* Couleur du texte */
}

.navbar .MuiTypography-root, .navbar .MuiButton-root, .navbar .MuiIconButton-root {
  color: #333333 !important; /* Couleur du texte et des icônes */
}

.column-card {
  background-color: #F0F4F8; /* Fond des Colonnes */
  padding: 10px;
  margin: 10px 0;
}

.card-item {
  margin: 10px 0;
  background-color: #FFFFFF; /* Fond des Cartes */
  border: 1px solid #CCCCCC; /* Bordure des Cartes */
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button-primary {
  background-color: #BEE1E6; /* Bouton Principal */
  color: #333333;
  border: 1px solid #ADD8E6;
}

.button-secondary {
  background-color: #D3E4CD; /* Bouton Secondaire */
  color: #333333;
  border: 1px solid #A3D2CA;
}

.button-success {
  background-color: #A3D2CA; /* Bouton de Succès */
  color: #333333;
  border: 1px solid #85B8B0;
}

.button-alert {
  background-color: #F4A7B9; /* Bouton d'Alerte */
  color: #333333;
  border: 1px solid #FFCCF9;
}

.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9); /* Changer le fond pour être semi-transparent */
}

.auth-container h2 {
  text-align: center;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666666;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.form-group input:focus {
  border-color: #A3D2CA;
  outline: none;
}

.btn-auth {
  width: 100%;
  padding: 10px;
  background-color: #A3D2CA;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-auth:hover {
  background-color: #85B8B0;
}

.error-message {
  color: #F4A7B9; /* Message d'erreur */
  text-align: center;
}

.success-message {
  color: #A3D2CA; /* Message de succès */
  text-align: center;
}

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
}
